.DS_Store
node_modules/
dist/build.js
npm-debug.log
package-lock.json
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode
.git

vue-new.zip
screenshot.png
sample_result.json
./functions.php
vue-new

src/assets/About/
src/assets/favicon.png
src/assets/copyright.png
src/assets/background.ai.svg
src/assets/brand.png
src/assets/favicon.ico
src/assets/background.ai12.svg
